
li {
    display: inline;
}

h5 {
    font-size:0.6rem;
    font-style: italic;
}

footer {
    background-color: #1f3c5b;
}

h6 > a {
    color: #0056B3;
}

.footerSocial {
    color: white;
}

.lista a {
    color: white;
}