// .map-container{
    // overflow:hidden;
    // padding-bottom:56.25%;
    // position:relative;
    // height:0;
    // display: flex;
    // width: 100%;
    // }
    iframe{
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    // position:absolute;
    margin-bottom: -500px;
    z-index: 1;
    }

.info > h3{
    font-size: 1.2rem;
    
}